.heading 
{
    font-size: 23px;
    margin: 0px;
    width: 100%;
    box-shadow: 5px 5px 5px grey;
}
.note 
{
    font-size: 15px;
    color: black;

}
canvas
{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}
.copy_right_footer
{
    position: fixed;
    width: 100%;
    background-color: rgb(2, 248, 215);
    bottom: 0;
    color: #f80202;
    line-height: 3;
    text-align: center;
}